@font-face {
  font-family: Suisse Bold Sans;
  font-display: swap;
  src: url(https://cdn.shopify.com/s/files/1/0894/7911/9147/files/SuisseBPIntl-Bold.otf?v=1735076071) format(opentype);
  font-style: normal;
  font-weight: 800;
} 

@font-face {
  font-family: Suisse Light Sans;
  font-display: swap;
  src: url(https://cdn.shopify.com/s/files/1/0894/7911/9147/files/SuisseBPIntl-Light.otf?v=1735076090) format(opentype);
  font-style: normal;
  font-weight: 300;
} 

@font-face {
  font-family: Suisse Medium Sans;
  font-display: swap;
  src: url(https://cdn.shopify.com/s/files/1/0894/7911/9147/files/SuisseBPIntl-Medium.otf?v=1735076402) format(opentype);
  font-style: normal;
  font-weight: 600;
}

[id^="DP--"] {
  --image-with-text-overlay: linear-gradient(228deg, rgba(0, 0, 0, 0.2) 14%, rgba(0, 0, 0, 0.2) 83%);
}
[id^="DP--"] .dsgn-pck__image__wrapper--main::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: '';
    border-radius: 4px;
    display: block;
    background: var(--image-with-text-overlay);
    z-index: 0;
}

[id^="DP--"] .dsgn-pck__button {
  line-height: 1;
  font-family: Suisse Bold Sans !important;
}

[id^="DP--"].dsgn-pck__gallery-grid {
  --dp-button-padding: 6px 20px 5px;
  --dp-body-size: 12.6px;
}

          
[id^="DP--"] h1,
[id^="DP--"] h2,
.dsgn-pck__heading {
  font-family: Suisse Bold Sans !important;
  font-weight: 800 !important;
  line-height: 1 !important;
  letter-spacing: 0.5px !important;

}

[id^="DP--"] h3,
[id^="DP--"] h4,
[id^="DP--"] h5,
[id^="DP--"] h6,
.dsgn-pck__small-heading {
  font-family: Suisse Bold Sans !important;
  font-weight: 800 !important;
  line-height: 1 !important;
  letter-spacing: 0.5px !important;
}

[id^="DP--"] p,
.dsgn-pck__text,
.dsgn-pck__text p {
  font-family: Suisse Light Sans !important;
font-weight: 300 !important;
line-height: 1.3 !important;
letter-spacing: 0.8px !important;

}
          
:root {
  --font-heading-family: Suisse Bold Sans;
--font-heading-style: 800;
--font-body-family: Suisse Light Sans;
--font-body-style: 300;
}
.text-body {
  
  letter-spacing: 0.8px;
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  letter-spacing: 0.5px;
  line-height: 1;
}
            
        